.menu.active {
    opacity: 1;
    visibility: visible;
 }
 .menu {
      opacity: 0;
  }
 
  .menu-container {
     
     justify-content: center;
     align-items: center;
     width: 180px;
    
     
 }
 
 .btn-menu{
     
     cursor:pointer;
 }

 .title{
     
     font-size: 16px;     
     color: gray;     
     flex-wrap: nowrap;
     margin-bottom: 10px;
     margin-top: 10px;
 }

 .color-font {
    color: #666666;
}